.body{
	font-family: 'Muli', sans-serif;
}
.intro {
  text-align: center !important;
}
.intro h1{
  font-family: "Comic Sans MS", cursive, sans-serif
}
.sub_topic{
  background-color: #FBACAC;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: solid 1px #e6e6e6;
}
.content{
	padding-bottom: 20px;
	padding-top:  20px;
	border-radius: 0rem;
	margin-bottom: 20px;
	border: solid 1px #e6e6e6;
}
.content ul{
	font-family: 'Muli', sans-serif;
	padding-left: 75px;
	padding-right: 75px;
    margin-bottom: 0;
  }

.content li{
	font-size: 1.20em;
	
}